:root {
    --grey-black: #333333;
    --orange: #F98500;
    --white: #FFFFFF;
    --green: #47A645;
    --red: #E94F4F;
    --grey: #979797;
    --grey-2: #666;
    --grey-banner: #D9D9D9;
    --grey-input: #DADADA;
    --grey-white: #F0F0F0;
    --black: #000000;
    --black-opacity: rgba(0, 0, 0, 0.55);

    --border-radius-5: 5px;
    --border-radius-50: 50px;
    --border-radius-20: 20px;
    --border-radius-15: 15px;
    --border-radius-10: 10px;
}
/* Customize scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/*Текст*/
.header__banner__white__b__48 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}
.header__banner__black__b__48 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
}
.header__banner__white__b__40 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.header__block__black__b__36 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.header__block__grey__b__36 {
    color: #979797;
    font-size: 36px;
    font-weight: 700;
}

.number__phone__white__b__32 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.text__content__black__32 {
    color: #000;
    font-size: 32px;
}

.text__content__black__b__32 {
    color: #000;
    font-size: 26px;
    font-weight: 700;
}

.text__content__black__b__26 {
    color: #000;
    font-size: 26px;
    font-weight: 700;
}

.text__content__white__32 {
    color: #fff;
    font-size: 32px;
}

.text__content__white__b__32 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.assessment__b {
    color: #F98500;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.55);
    font-size: 32px;
    font-weight: 700;
}

.text__content__black__b__24 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.header__footer__white__b__24 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.text__content__white__b__24 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.text__content__white__24 {
    color: #fff;
    font-size: 24px;
}

.text__content__black__b__20 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.text__content__white__b__20 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.text__content__white__20 {
    color: #fff;
    font-size: 20px;
}

.text__content__black__20 {
    color: #000;
    font-size: 20px;
}

.text__content__white__16 {
    color: #fff;
    font-size: 16px;
}

.text__content__orange__b__16 {
    color: #F98500;
    font-size: 16px;
    font-weight: 700;
}

.text__content__black__16 {
    color: #000;
    font-size: 16px;
}

.text__content__black__b__16 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.text__content__white__b__16 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.text__content__grey__16 {
    color: #979797;
    font-size: 16px;
}

.text__content__white__15 {
    color: #fff;
    font-size: 15px;
}

.text__content__white__b__15 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.text__content__black__15 {
    color: #000;
    font-size: 15px;
}

.text__content__white__14 {
    color: #fff;
    font-size: 14px;
}
.text__content__white__b__14 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.text__content__grey__14 {
    color: #979797;
    font-size: 14px;
}

.text__content__black__14 {
    color: #000;
    font-size: 14px;
}

.text__content__black__13 {
    color: #000;
    font-size: 13px;
}

.text__content__black__b__14 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.text__content__grey__12 {
    color: #979797;
    font-size: 12px;
}

.text__content__black__12 {
    color: #000;
    font-size: 12px;
}
.text__content__black__b__12 {
    color: #000;
    font-size: 12px;
    font-weight: 700;
}
.text__content__grey__b__12 {
    color: #979797;
    font-size: 12px;
    font-weight: 700;
}
.text__content__white__12 {
    color: #fff;
    font-size: 12px;
}
.text__content__white__b__12 {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
.text__content__orange__12 {
    color: #F98500;
    font-size: 12px;
}
.text__content__grey__10 {
    color: #979797;
    font-size: 10px;
}
.text__content__white__10 {
    color: #fff;
    font-size: 10px;
}
.text__content__black__10 {
    color: #000;
    font-size: 10px;
}
/*STARTING PAGE*/
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.loader-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loader-circle {
    width: 40px;
    height: 40px;
    border: 3px solid #eaeaea;
    border-top-color: #555555;
    border-radius: 50%;
    animation: loader-spin 1s ease-in-out infinite;
}

.loader-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-text {
    font-size: 20px;
    font-weight: bold;
}

.loader-subtext {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    margin-top: 10px;
}
.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #0d0046 0%,
            #48260a 29%,
            #ff8800 67%,
            #ffb700 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
@keyframes loader-spin {
    to {
        transform: rotate(360deg);
    }
}

.iconBtn {
    cursor: pointer;
    padding-right: 10px;
    transition: .2s;
    transform: rotate(0deg) translateX(0px);
}

/*Пустышка*/
.null {
    opacity: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
}

/*.container::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*Разметка страницы*/

.row__c__c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row__fs__sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.row__fs__fs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.row__c__fs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row__c__fe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.row__sa__c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row__sa__fs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.row__sb__c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row__wrap__c__c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.column__sb__c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.column__fs {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.column__fs__c {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-content: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.column__fe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.column__sb__fs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.column__sb__fe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.column__c__c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column__c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column__sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block__page {
    display: flex;
    flex-direction: column;
    background: var(--grey-white);
}

.block__center__scroll {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal__center__scroll {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal__center__scroll::-webkit-scrollbar {
    display: block;
}
.number__list__center__scroll {
    height: auto;
    padding-right: 10px;
    margin-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.number__list__center__scroll::-webkit-scrollbar {
    display: block;
}
.header {
    flex: 0 0 auto;
}

.center {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (min-width: 1001px) {
    .marginValue {
        margin: 20px 18%  20px 18%;
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    .marginValue {
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
    }
}
/*MAPS*/
/*@media (min-width: 1250px){*/
/*    .map1250 {*/
/*        display: none;*/
/*    }*/
/*    */
/*}*/
/*Desktop 1250*/
@media (min-width: 1252px){
    .map1250 {
        display: block;
    }
    .map1250-sticky {
        position: sticky;
        top: 20px;
    }
    .mapYandex {
        display: block;
    }
}
/*Desktop 1250*/
@media (min-width: 0px) and (max-width: 1251px){
    .map1250 {
        display: none;
    }
}
/*Laptop907_1249*/
@media (min-width: 907px) and (max-width: 1249px){
    .map1250 {
        display: none;
    }
    .mapYandex {
        display: block;
    }
}
/*Tablet661_906*/
@media (min-width: 661px) and (max-width: 906px){
    .mapYandex {
        display: block;
    }
}
