.where__to__go {
    height: 100%;
    width: 100%;
    background: var(--white);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    z-index: 10;
    margin: 10px 10px 50px 10px;
    border-radius: 25px;
}
.city-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.custom__container {
    margin-left: 3%;
    margin-right: 3%;
}

.booking__user__block {
    overflow-x: hidden;
    padding-bottom: 100px;
    overflow-y: hidden;
}

.custom__content {
    margin-left: 15px;
    margin-right: 15px;
}

.borderBottom {
    padding-bottom: 5px;
}
.custom__title{
    height: 30px;
}
.custom__title.large {
    font-size: 1.5em;

}

.custom__scroll {
    overflow-y: scroll;
    height: 70vh;
}
.city-item {
    flex: 1 1 calc(100% / 6 - 20px);
    margin: 10px;
}
.where__to__go__item {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-grow: 1;
    min-width: 240px;
    margin: 10px;
    border-radius: var(--border-radius-20);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;

}

.benefit__block {
    background: var(--white);
    height: 100%;
    margin-bottom: 50px;
    border-radius: 25px;
}

.mobileApp__block {
    background: var(--white);
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.followUs__block {
    background: var(--white);
    height: 100%;
    margin-bottom: 50px;
}


.availability__items {
    border-bottom: 1px solid var(--grey-banner);
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lineRating {
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: var(--grey-banner); /* Серый цвет фона */
    border-radius: 5px;
    position: relative;
}

.filledLine {
    height: 100%;
    background: var(--orange); /* Оранжевый цвет для заполнения */
    border-radius: 5px;
}
.main__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ratingItem {
    width: 48%; /* Для двух колонок на больших экранах */
    margin-bottom: 20px;
}

@media (max-width: 768px) { /* Медиазапрос для маленьких экранов, например, мобильных устройств */
    .main__block {
        flex-direction: column; /* Переключение на одну колонку */
        align-items: center;
    }

    .ratingItem {
        width: 100%; /* Один параметр на всю ширину */
    }
}
/*Яндекс карты*/
.balloon__card {
    border-radius: 10px;
    padding: 40px 5px 5px 5px;
    width: 300px;
    height: 350px;
    background: var(--white);
}

.ymaps-2-1-79-balloon {
    box-shadow: none !important;

}

.ymaps-2-1-79-balloon__content {
    padding: 0 !important;
    background: transparent !important;
    margin: 0 !important;
    color: var(--white)
}

.ymaps-2-1-79-balloon__layout {
    background: transparent !important;
    border: none !important;

}






.input__row {
    margin: 5px;
}

/*DesktopSupeMegaBig 1725*/
@media (min-width: 1725px) {
    /*    Компонент CheckAvailability*/
    .desktop__super__mega__big__check__availability__block {
        display: flex;
    }

    .desktop__super__big__check__availability__block {
        display: none;
    }

    .desktop__big__check__availability__block {
        display: none;
    }

    .tablet__check__availability__block {
        display: none;
    }

    .mobile__check__availability__block {
        display: none;
    }

    .inputCheckAvailability {
        width: 300px;
        height: 35px;
        border-radius: var(--border-radius-5);
        border: 1px solid var(--grey);
        margin-right: 50px;
        display: flex;
        background: var(--white);
        /*padding-left: 10px;*/
        cursor: pointer;
    }

    .mobile__quick__booking {
        display: none;
    }
}

/*DesktopSuperBig 1500_1724*/
@media (min-width: 1500px) and (max-width: 1724px) {
    .mobile__quick__booking {
        display: none;
    }

    /*    Компонент CheckAvailability*/
    .check__availability {
        margin-top: 10px;
    }

    .desktop__super__mega__big__check__availability__block {
        display: none;
    }

    .desktop__super__big__check__availability__block {
        display: flex;
    }

    .desktop__big__check__availability__block {
        display: none;
    }

    .tablet__check__availability__block {
        display: none;
    }

    .mobile__check__availability__block {
        display: none;
    }

    .inputCheckAvailability {
        width: 100%;
        height: 35px;
        border-radius: var(--border-radius-5);
        border: 1px solid var(--grey);
        display: flex;
        background: var(--white);
        /*padding-left: 10px;*/
        cursor: pointer;
    }

    .checkAvailability__block {
        position: relative;
        width: 100%;
    }

}

/*DesktopBig 1500*/
@media (min-width: 1500px) {
    /*Компонент WhereToGo*/
    .header__where__to__go {
        text-align: center;
        color: var(--black);
        font-size: 26px;
        font-weight: bold;
        height: 20px;
    }

    .hotel__city__card {
        display: flex;
        flex-direction: row;
        height: 33px;
        flex-grow: 1;
        border-radius: 0 0 20px 20px;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 16px;
    }

    /*    Компонент QuickBooking*/
    .laptop_768_1023__column {
        margin-right: 3%;
    }

    .mobile__quick__booking {
        display: none;
    }

    .quick__booking {
        width: 300px;
        height: 100%;
        background: var(--white);
        border-radius: var(--border-radius-10);
        padding: 20px;
        margin-bottom: 20px;
    }

    .quick__booking__block {
        position: relative;
        width: 100%;
    }

}

/*DesktopBig 1440*/
@media (min-width: 1440px) {
    /*    Компонент HotelNumber*/
    .hotel__number__column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 10%;
        margin-left: 10%;
    }
}

/*Desktop 1150*/
@media (min-width: 1150px) {
    /*Компонент MobileApp*/
    .desktop__mobile__app__block {
        display: flex;
    }

    .tablet__830_1150__mobile__app__block {
        display: none;
    }

    .tablet__630_830__mobile__app__block {
        display: none;
    }

    .mobile__530_630__mobile__app__block {
        display: none;
    }

    .mobile__app__block {
        display: none;
    }

}

/*Desktop 920*/
@media (min-width: 920px) {
    /*Компонент BenefitBlock*/
    .desktop__benefit__block {
        display: flex;
    }

    .tablet__benefit__block {
        display: none;
    }

    /*Компонент FollowUs*/
    .desktop__follow__us__block {
        display: flex;
    }

    .tablet__0_920__follow__us__block {
        display: none;
    }

    /*Компонент Footer*/
    .desktop__footer__block {
        display: flex;
    }

    .tablet__530_919__footer__block {
        display: none;
    }

    .mobile__0_529__footer__block {
        display: none;
    }
    /*Компонент ContactData*/
    .contact__block {
        background: var(--white);
        height: 100%;
        width: 768px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .detail__booking {
        background: var(--white);
        height: 100%;
        width: 768px;
    }
}

/*Laptop 769 - 1499*/
@media (min-width: 769px) and (max-width: 1499px) {
    /*Компонент WhereToGo*/
    .header__where__to__go {
        text-align: center;
        color: var(--black);
        font-size: 23px;
        font-weight: bold;
    }

    .hotel__city__card {
        display: flex;
        flex-direction: row;
        height: 33px;
        flex-grow: 1;
        border-radius: 0 0 20px 20px;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 16px;
    }

    /*    Компонент HotelNumber*/
    .hotel__number__column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 5%;
        margin-left: 5%;
    }

}

/*Laptop 1024 - 1499*/
@media (min-width: 1024px) and (max-width: 1499px) {
    /*    Компонент HotelNumber*/
    .hotel__number__column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 3%;
        margin-left: 3%;
    }

    /*    Компонент QuickBooking*/
    .laptop_768_1023__column {
        margin-right: 3%;
    }

    .mobile__quick__booking {
        display: none;
    }

    .quick__booking {
        width: 300px;
        height: 100%;
        background: var(--white);
        border-radius: var(--border-radius-10);
        padding: 20px;
        margin-bottom: 20px;
    }

    .quick__booking__block {
        position: relative;
        width: 100%;
    }

    /*    Компонент CheckAvailability*/
    .check__availability {
        margin-top: 10px;
    }

    .desktop__super__mega__big__check__availability__block {
        display: none;
    }

    .desktop__super__big__check__availability__block {
        display: none;
    }

    .desktop__big__check__availability__block {
        display: flex;
    }

    .tablet__check__availability__block {
        display: none;
    }

    .mobile__check__availability__block {
        display: none;
    }

    .checkAvailability__block {
        position: relative;
        width: 100%;
    }

    .inputCheckAvailability {
        width: 100%;
        height: 35px;
        border-radius: var(--border-radius-5);
        border: 1px solid var(--grey);
        display: flex;
        background: var(--white);
        /*padding-left: 10px;*/
        cursor: pointer;
    }
}

/*Tablet 830 - 1149*/
@media (min-width: 830px) and (max-width: 1149px) {
    /*Компонент MobileApp*/
    .desktop__mobile__app__block {
        display: none;
    }

    .tablet__830_1150__mobile__app__block {
        display: flex;
    }

    .tablet__630_830__mobile__app__block {
        display: none;
    }

    .mobile__530_630__mobile__app__block {
        display: none;
    }

    .mobile__app__block {
        display: none;
    }

}

/*Laptop 768 - 1023*/
@media (min-width: 768px) and (max-width: 1023px) {
    /*    Компонент QuickBooking*/
    .laptop_768_1023__column {
        display: none;
    }


}

/*Tablet 530 - 1023*/
@media (min-width: 530px) and (max-width: 1023px) {
    /*    Компонент HotelNumber*/
    .hotel__number__column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 3%;
        margin-left: 3%;
    }

    /*    Компонент QuickBooking*/
    .quick__booking {
        height: 100%;
        background: var(--white);
        border-radius: var(--border-radius-10);
        padding: 20px;
        margin-bottom: 20px;
    }

    .quick__booking__block {
        position: relative;
        width: 100%;
    }

    .laptop_768_1023__column {
        display: none;
    }

    .mobile__quick__booking {
        display: none;
    }

    /*    Компонент CheckAvailability*/
    .check__availability {
        margin-top: 10px;
    }

    .desktop__super__mega__big__check__availability__block {
        display: none;
    }

    .desktop__super__big__check__availability__block {
        display: none;
    }

    .desktop__big__check__availability__block {
        display: none;
    }

    .tablet__check__availability__block {
        display: flex;
    }

    .mobile__check__availability__block {
        display: none;
    }

    .checkAvailability__block {
        position: relative;
        width: 100%;
    }

    .inputCheckAvailability {
        width: 100%;
        height: 35px;
        border-radius: var(--border-radius-5);
        border: 1px solid var(--grey);
        display: flex;
        background: var(--white);
        /*padding-left: 10px;*/
        cursor: pointer;
    }
}

/*Tablet 630 - 830*/
@media (min-width: 630px) and (max-width: 829px) {
    /*Компонент MobileApp*/
    .desktop__mobile__app__block {
        display: none;
    }

    .tablet__830_1150__mobile__app__block {
        display: none;
    }

    .tablet__630_830__mobile__app__block {
        display: flex;
    }

    .mobile__530_630__mobile__app__block {
        display: none;
    }

    .mobile__app__block {
        display: none;
    }
}

/*Tablet 530 - 919*/
@media (min-width: 530px) and (max-width: 919px) {
    /*Компонент WhereToGo*/
    .header__where__to__go {
        text-align: center;
        color: var(--black);
        font-size: 20px;
        font-weight: bold;
    }

    .hotel__city__card {
        display: flex;
        flex-direction: row;
        height: 33px;
        flex-grow: 1;
        border-radius: 0 0 20px 20px;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 14px;
    }

    /*Компонент Footer*/
    .desktop__footer__block {
        display: none;
    }

    .tablet__530_919__footer__block {
        display: flex;
    }

    .mobile__0_529__footer__block {
        display: none;
    }
}

/*Tablet 919*/
@media (min-width: 0px) and (max-width: 919px) {
    /*Компонент BenefitBlock*/
    .desktop__benefit__block {
        display: none;
    }

    .tablet__benefit__block {
        display: flex;
    }

    /*Компонент FollowUs*/
    .desktop__follow__us__block {
        display: none;
    }

    .tablet__0_920__follow__us__block {
        display: flex;
    }
    /*Компонент ContactData*/
    .contact__block {
        background: var(--white);
        height: 100%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .detail__booking {
        background: var(--white);
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

}
/*Tablet 768*/
@media (min-width: 768px) {
    /*Компонент Booking*/
    .desktop__booking__hotel__block{
        display: flex;
    }
    .mobile__booking__hotel__block{
        display: none;
    }
    .booking__user__block {
        background: var(--white);
        height: 70vh;
        width: 768px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
}
/*Tablet 0_767*/
@media (min-width: 0px) and (max-width: 767px){
    /*Компонент Booking*/
    .desktop__booking__hotel__block{
        display: none;
    }
    .mobile__booking__hotel__block{
        display: flex;
    }
    .booking__user__block {
        background: var(--white);
        height: 70vh;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/*Mobile 530 - 629*/
@media (min-width: 530px) and (max-width: 629px) {
    /*Компонент MobileApp*/
    .desktop__mobile__app__block {
        display: none;
    }

    .tablet__830_1150__mobile__app__block {
        display: none;
    }

    .tablet__630_830__mobile__app__block {
        display: none;
    }

    .mobile__530_630__mobile__app__block {
        display: flex;
    }

    .mobile__app__block {
        display: none;
    }
}

/*Mobile 530 */
@media (min-width: 530px) {
    .hotel__rules {
        background: var(--white);
        border-radius: 20px;
        padding: 20px;
        height: 100%;
        margin-bottom: 40px;
    }
    .hotel__amen {
        background: var(--white);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 30px;
    }
    .hotel__amenities {
        height: auto;
        margin-bottom: 30px;
        column-count: 3; /* Разбиваем на 3 колонки */
        column-gap: 20px; /* Расстояние между колонками */
    }
}

/*Mobile 0_529*/
@media (min-width: 0px) and (max-width: 529px) {
    /*Компонент WhereToGo*/
    .header__where__to__go {
        text-align: center;
        color: var(--black);
        font-size: 16px;
        font-weight: bold;
    }

    .hotel__city__card {
        display: flex;
        flex-direction: row;
        height: 33px;
        flex-grow: 1;
        border-radius: 0 0 20px 20px;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 12px;
    }

    /*Компонент MobileApp*/
    .desktop__mobile__app__block {
        display: none;
    }

    .tablet__830_1150__mobile__app__block {
        display: none;
    }

    .tablet__630_830__mobile__app__block {
        display: none;
    }

    .mobile__530_630__mobile__app__block {
        display: none;
    }

    .mobile__app__block {
        display: flex;
    }

    /*Компонент Footer*/
    .desktop__footer__block {
        display: none;
    }

    .tablet__530_919__footer__block {
        display: none;
    }

    .mobile__0_529__footer__block {
        display: flex;
    }

    /*    Компонент HotelNumber*/
    .hotel__number__column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 3%;
        margin-left: 3%;
    }

    /*    Компонент QuickBooking*/
    .quick__booking {
        display: none;
    }

    .mobile__quick__booking {
        display: flex;
    }

    .laptop_768_1023__column {
        display: none;
    }

    .quick__booking__block {
        position: relative;
        width: 100%;
    }

    /*    Компонент CheckAvailability*/
    .check__availability {
        margin-top: 10px;
    }

    .desktop__super__mega__big__check__availability__block {
        display: none;
    }

    .desktop__super__big__check__availability__block {
        display: none;
    }

    .desktop__big__check__availability__block {
        display: none;
    }

    .tablet__check__availability__block {
        display: none;
    }

    .mobile__check__availability__block {
        display: flex;
    }

    .checkAvailability__block {
        position: relative;
        width: 100%;
    }

    .inputCheckAvailability {
        width: 100%;
        height: 35px;
        border-radius: var(--border-radius-5);
        border: 1px solid var(--grey);
        display: flex;
        background: var(--white);
        /*padding-left: 10px;*/
        cursor: pointer;
    }

    /*    Компонент HotelRules*/
    .hotel__rules {
        display: none;
    }
    /*    Компонент HotelAmenities*/
    .hotel__amenities {
        display: none;
    }
    .hotel__amen{
        display: none;
    }
}
