.inputFollow {
    height: 45px;
    background: var(--white);
    color: var(--black);
    border-radius: var(--border-radius-5);
    border: 1px solid var(--black);
    flex-grow: 1;
    font-size: 16px;
    padding-left: 10px;
}
.input__range__block {
    width: 115px;
    height: 35px;
    border-radius: var(--border-radius-5);
    border: 1px solid var(--black);
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--white);
}
.input__range {
    width: 50px;
    height: 35px;
    border: none;
    outline: none;
    background: none;
    color: var(--black);
    padding-left: 10px;
}