.custom-select-wrapper {
    position: relative;
    display: inline-block;
    justify-content: flex-start;
    align-items: center;

}
.selectCustom {
    height: 30px;
    border-radius: var(--border-radius-5);
    border: 1px solid var(--grey-input);
    display: flex;
    background: var(--white);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.CheckInCheckOut {
    border-radius: var(--border-radius-5);
    border: 1px solid var(--grey-input);
    display: flex;
    background: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.custom-select-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 230px;
    overflow-y: auto;
    z-index: 999;
}

.custom-select-item {
    padding: 10px;
    cursor: pointer;

}

.custom-select-item:hover {
    background-color: #f5f5f5;
}
