/*Кнопка найти*/
.searchBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 37px;
    width: 135px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: var(--border-radius-5);
    margin-left: 15px;
}
.searchBtn__mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 37px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: var(--border-radius-5);
}
.greyBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 35px;
    flex-grow: 0.2;
    border-radius: var(--border-radius-5);
    margin-left: 20px;
}
.resetOptionsBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 45px;
    /*margin-bottom: 2px;*/
    /*margin-left: 20px;*/
}
.chooseHotelBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 40px;
    flex-grow: 1;
    border-radius: var(--border-radius-5);
    margin-left: 20px;
}
.chooseHotelMapBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 30px;
    flex-grow: 1;
    border-radius: var(--border-radius-5);
}
.mapButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 30px;
    border-radius: var(--border-radius-5);
}
.bookButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: var(--border-radius-5);
}
.moreButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--grey-banner);
    cursor: pointer;
    height: 40px;
    border-radius: var(--border-radius-5);
}
.showOnMapBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 25px;
    width: 170px;
    border-radius: var(--border-radius-5);
}
.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-2);
    cursor: pointer;
    height: 30px;
    border-radius: var(--border-radius-5);
}
.filterBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 30px;

    border-radius: var(--border-radius-5);
    margin-left: 10px;
}
.mobileBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 30px;
    width: 50px;
    border-radius: var(--border-radius-5);
    margin-left: 10px;
}
.counterBtn {
    background: var(--white);
    /*border: 1px solid var(--black);*/
    border-radius: var(--border-radius-5);
    padding: 5px;
    height: 20px;
    width: 80px;
}
.bookBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 50px;
    border-radius: var(--border-radius-10);
}
.bookRulesBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    background: var(--white);
    cursor: pointer;
    height: 50px;
    border-radius: var(--border-radius-10);
}
.checkAvailabilityBtn {
    display: flex;
    flex-grow: 1.5;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 35px;
    border-radius: var(--border-radius-5);
}

.doneBtn {
    display: flex;
    margin-top: 10px;
    width: 220px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey-black);
    cursor: pointer;
    height: 35px;
    border-radius: var(--border-radius-5);
}
.doneBtnNoActive {
    display: flex;
    margin-top: 10px;
    width: 220px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #b7b7b7;
    cursor: pointer;
    height: 35px;
    border-radius: var(--border-radius-5);
}
.delBookingBtn {
    display: flex;
    margin: 10px;
    width: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--red);
    cursor: pointer;
    height: 25px;
    border-radius: var(--border-radius-5);
}
.moreBookingBtn {
    display: flex;
    margin: 10px;
    width: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    cursor: pointer;
    height: 25px;

    border-radius: var(--border-radius-5);
}
.sellBookingBtn {
    display: flex;
    margin: 10px;
    width: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--green);
    cursor: pointer;
    height: 25px;
    border-radius: var(--border-radius-5);
}
.bookBookingBtn {
    display: flex;
    width: 140px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    cursor: pointer;
    height: 25px;

    border-radius: var(--border-radius-5);
}
.cancelBookingBtn {
    display: flex;
    width: 140px;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    cursor: pointer;
    height: 30px;
    border-radius: var(--border-radius-5);
}
.cancelEditUserBtn {
    display: flex;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    cursor: pointer;
    height: 30px;
    border-radius: var(--border-radius-5);
}
.changePasswordButton {
    padding: 6px;
    background: var(--grey-black);
    cursor: pointer;
    border-radius: var(--border-radius-5);
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
}
.block__scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 180px;
}
