/*.calendar header {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-bottom: 8px;*/
/*}*/

/*.calendar header button,*/
/*.calendar header select {*/
/*    margin: 0 2px;*/
/*}*/

/*.calendar table {*/
/*    table-layout: fixed;*/
/*    border-collapse: separate;*/
/*    border-spacing: 0;*/
/*    margin: auto;*/
/*}*/

/*.calendar th {*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*    height: 20px;*/
/*}*/

/*.calendar .day {*/
/*    padding: 4px 4px;*/
/*    border-radius: 50%;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*    border: 2px solid transparent;*/
/*}*/

/*.calendar .day:hover {*/
/*    background-color: #eaeaea;*/
/*    cursor: pointer;*/
/*}*/

/*.calendar .day.selected {*/
/*    border: 2px solid var(--orange);*/
/*}*/

/*.calendar .day.today {*/
/*    background-color: var(--orange);*/
/*    color: white;*/
/*}*/

/*.calendar .day.today:hover {*/
/*    background-color: var(--orange);*/
/*}*/

/*.calendar .day.today.selected {*/
/*    border: 2px solid var(--grey);*/
/*}*/
/*button, .select__calendar {*/
/*    height: 2em;*/
/*    font-size: 1rem;*/
/*    background-color: #fff;*/
/*    color: #363636;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*button:focus, .select__calendar:focus {*/
/*    outline: none;*/
/*}*/

/*button {*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: .25em .75em;*/
/*    text-align: center;*/
/*}*/

/*.select__calendar {*/
/*    padding: .25em .5em;*/
/*}*/
/*.tab__btn {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 4px;*/
/*    cursor: pointer;*/
/*    border-bottom: 1px solid var(--orange);*/
/*}*/
/*.tab__btn__none {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 4px;*/
/*    cursor: pointer;*/
/*}*/
/*new CALENDAR*/
.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.day.empty {
    cursor: default;
}

.non-empty:not(.text-gray):hover {
    background-color: #cccccc;

}

.non-empty.selected:not(.text-gray):hover {
    background-color: #ffb94e;
}
.non-empty.today:hover {
    background-color: #ff9a00;
    color: #fff;
}
.day.selected:not(.text-gray):hover {
    background-color: #ffb94e;
}

.day.grayed-out:hover {
    background-color: transparent;
}
.calendar-header {
    padding: 1rem;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2px;
    background-color: #ffffff;
}

.weekdays span {
    display: inline-block;
    width: 24px;
    text-align: center;
    color: #808080;
}

.calendar-body {
    padding: 0.5rem;
}

.month-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 0.5rem;
}


.months {
    overflow-y:scroll;
    height: calc(7.55em * 3);
    width: 100%;
    padding-right: 10px;
}
.months::-webkit-scrollbar{
    display: block;

}
.month-container::-webkit-scrollbar {
    width: 8px;
}
.month-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.month-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

.month-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.month-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #ffffff;
    overflow: hidden;

}

.month-label {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: #333333;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 3px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    color: #333333;
}

.day.weekend {
    color: #999999;
}

/*.day:hover {*/
/*    background-color: #cccccc;*/
/*}*/

.day.selected:hover {
    background-color: #ffb94e;
}
.today {
    border: 2px solid orange;
}
.day.grayed-out {
    color: #d0d0d0;
}

.day.selected {
    background-color: #ff9a00;
}

.day.before-today {
    background-color: #e3e3e3;
}
.text-gray {
    color: #d0d0d0;
}
.between-selected {
    background-color: #f4f4f4;
    color: #000;
}

.selected-start {
    background-color: #ff9a00;
    color: white;
    border-radius: 50% 0 0 50%;
}

.selected-end {
    /* Стиль конечной выбранной даты */
    background-color: #ff9a00;
    color: white;
    border-radius: 0 50% 50% 0;
}
.between-hovered {
    background-color: #f4f4f4;
}
.no-pointer {
    cursor: default;
}
.message {
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    color: red;
    margin-bottom: 10px;
}


