.search__input__text {
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
    color: var(--black);
    font-size: 14px;
    width: 95%;
}

#input-date {
    color: var(--black);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    content: "\f095";
    -webkit-appearance: none;
}

.input__search {
    height: 35px;
    background: var(--white);
    border-radius: var(--border-radius-5);
    border-bottom: solid 2px var(--orange);
    width: 60vw;
}

.list__search {
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    padding-left: 10px;
}

.list__search:hover {
    background: var(--grey-white);
}

.counterGuestBtn {
    background: var(--white);
    border-radius: var(--border-radius-5);
    padding: 5px;
    height: 20px;
    width: 80px;
}

.list__old {
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    padding-left: 10px;
}

.list__old:hover {
    background: var(--grey-white);
}

.iconDate {
    cursor: pointer;
    padding-right: 10px;
    transition: .2s;
    transform: rotate(-90deg) translateX(5px);
}

/*Desktop 1500*/
@media (min-width: 1500px) {
    .header__banner {
        margin-top: -20px;
        text-align: center;
        color: var(--white);
        font-size: 30px;
        font-weight: bold;
    }
    .desktop__big__search {
        display: flex;
    }
    .laptop__search {
        display: none;
    }
    .tablet__search {
        display: none;
    }
    .mobile__search {
        display: none;
    }
}

/*Laptop 769 - 1499*/
@media (min-width: 769px) and (max-width: 1499px) {
    .header__banner {
        margin-top: -20px;
        text-align: center;
        color: var(--white);
        font-size: 26px;
        font-weight: bold;
    }
    .desktop__big__search {
        display: none;
    }
    .laptop__search {
        display: flex;
    }
    .tablet__search {
        display: none;
    }
    .mobile__search {
        display: none;
    }
}

/*Tablet 0_768*/
@media (min-width: 0px) and (max-width: 768px) {
    .header__banner {
        margin-top: -20px;
        text-align: center;
        color: var(--white);
        font-size: 22px;
        font-weight: bold;
    }
    .desktop__big__search {
        display: none;
    }
    .laptop__search {
        display: none;
    }
    .tablet__search {
        display: flex;
    }
}
/*Mobile 0_530*/
@media (min-width: 0px) and (max-width: 530px) {
    .header__banner {
        margin-top: -100px;
        text-align: center;
        padding-bottom: 100px;
        color: var(--white);
        font-size: 20px;
        font-weight: bold;
    }
}